@import url("./vars.scss");

*,
*::before,
*::after {

    box-sizing: border-box;

}

header {

    height: 82.5vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .main-wrapper {

        width: 795px;
        height: 650px;

        display: flex;

        .iphone-container {

            width: 800px;
            height: auto;

            display: flex;
            align-items: center;

            img {

                width: 130%;
                height: 90%;

                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
                background-size: cover;

                // pointer-events: none;

            }

            .slider {

                position: relative;

                right: 43.5%;
                bottom: -0.7%;

                    .image {

                        z-index: 999;

                        position: absolute;

                        width: 226px;
                        height: 404px;

                        -webkit-background-size: cover;
                        background-size: cover;
                        background-position: 50%;

                        -webkit-transform: translateX(-50%) translateY(-50%);
                        -moz-transform: translateX(-50%) translateY(-50%);
                        -ms-transform: translateX(-50%) translateY(-50%);
                        -o-transform: translateX(-50%) translateY(-50%);
                        transform: translateX(-50%) translateY(-50%);

                        -webkit-animation: imagesFading 8s infinite;
                        -moz-animation: imagesFading 8s infinite;
                        -o-animation: imagesFading 8s infinite;
                        animation: imagesFading 8s infinite;

                    }

                    .image_05 {background-image: url(https://www.instagram.com/static/images/homepage/screenshot2.jpg/6f03eb85463c.jpg); animation-delay: 12s;}

                    .image_02 {background-image: url(https://www.instagram.com/static/images/homepage/screenshot3.jpg/f0c687aa6ec2.jpg); animation-delay: 9s;}

                    .image_03 {background-image: url(https://www.instagram.com/static/images/homepage/screenshot4.jpg/842fe5699220.jpg); animation-delay: 6s;}

                    .image_04 {background-image: url(https://www.instagram.com/static/images/homepage/screenshot5.jpg/0a2d3016f375.jpg); animation-delay: 3s;}

                    .image_01 {background-image: url(https://www.instagram.com/static/images/homepage/screenshot1.jpg/d6bf0c928b5a.jpg); animation-delay: 0;}

                    @keyframes imagesFading {

                        0% {

                            opacity:1;
                            transition: .2s ease;

                        }

                        17% {

                            opacity:1;
                            transition: .2s ease;

                        }

                        25% {

                            opacity:0;
                            transition: .2s ease;

                        }

                        92% {

                            opacity:0;
                            transition: .2s ease;

                        }

                        100% {

                            opacity:1;
                            transition: .2s ease;

                    }

                }

            }

        }

        .wrapper-form {

            width: 100%;
            height: auto;

            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .form-container {

                width: 350px;
                height: 380px;

                background-color: white;

                border: 1px solid #dbdbdb;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;

                    .logo {

                        margin-top: 15px;
                        margin-bottom: 30px;

                        // img {

                            // pointer-events: none;
    
                        // }
    
                    }

                }

                form {

                    width: 348px;
                    height: 213px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    input {

                        width: 258px;
                        height: 36px;

                        border: 1px solid #dbdbdb;
                        border-radius: 2.5px;

                        padding: 10px 0px 10px 8px;

                        font-size: 11.2px;
                        font-family: 'Roboto', sans-serif;

                        margin-top: 6px;

                        &:last-child {

                            margin: none;

                        }

                    }

                    button {

                        width: 258px;
                        height: 30px;

                        margin-top: 12px;

                        padding: 9px;

                        background-color: #b2dffc;

                        border: 0;
                        border-radius: 2.5px;

                        font-family: 'Open sans', sans-serif;
                        font-weight: 900;
                        font-size: 12px;

                        letter-spacing: 0.5px;

                        color: #ffffff;

                        &:hover {

                            transition: .4s;

                            background-color: #79c8fc;

                        }

                    }

                    input,
                    button {

                        &:focus {

                            outline: 0;
                            outline-offset: 0;

                            border: 1px solid #a0a0a0;

                        }

                    }

                    p {

                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        font-weight: 500;

                        margin-top: 18px;
                        margin-bottom: 34px;

                        text-transform: lowercase;

                        position: relative;

                        color: #8e8e8e;

                        &::before {

                            content: "";

                            position: absolute;

                            z-index: 999;

                            top: 43.5%; 
                            right: 150%;

                            width: 100px;
                            height: 1px;

                            background-color: #dbdbdb;

                        }

                        &::after {

                            content: "";

                            position: absolute;

                            z-index: 999;

                            top: 43.5%; 
                            left: 150%;

                            width: 100px;
                            height: 1px;

                            background-color: #dbdbdb;

                        }

                    }
                    
                    a {

                        display: flex;
                        flex-direction: row;

                        text-decoration: none;

                        color: #385185;

                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                        font-size: 14px;

                        margin-bottom: 12px;

                        &:hover {

                            transition: .2s;

                            text-decoration: underline;

                            color: #021686;

                        }

                        img {

                            width: 18px;
                            height: 18px;

                            position: relative;
                            
                            top: -10%;
                            left: 0%;

                            margin-right: 8px;

                        }
                        
                    }

                    .forget-pass {

                        color: #1f3244;

                        letter-spacing: 0.2px;

                        font-size: 11.4px;

                        margin-top: 14px;
                        margin-bottom: 5px;

                            &:hover {

                                transition: .2s;

                                text-decoration: underline;

                                color: #414141;

                            }

                        

                    }

                }

            }

            .check_in-container {

                width: 350px;
                height: 63px;

                margin-top: 10px;

                border: 1px solid #dbdbdb;

                background-color: white;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                font-size: 13.4px;
                font-family: 'Roboto', sans-serif;

                a {

                    margin-left: 3.5px;

                    text-decoration: none;

                    color: #1895f6;

                    font-weight: 600;
                    letter-spacing: 0.2px;

                    &:hover {

                        transition: .2s;

                        color: #1a79c2;

                    }

                }

            }

            .dwn-container {

                width: 350px;
                height: 102px;

                margin-top: 10px;

                // background: aqua;

                p {

                    text-align: center;

                    font-size: 14px;
                    font-family: 'Roboto', sans-serif;

                }
                
                .dwn-buttons{

                    display: flex;
                    justify-content: center;

                    img {

                        width: 136px;
                        height: 40px;

                        cursor: pointer;

                        margin-right: 8px;

                        &:last-child {

                            margin: 0;

                        }

                    }

                }

            }

        }

    }
